body {
	font-family: Helvetica;
}

button {
	width: 80px;
}

nav {
	width: :60%;
	margin-left: 20%;
	text-align: center;
}

ul {
	list-style: none;
}

li:hover {
	background-color: lightgray;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

.enable-menu {
	display:block;
}

.disable-menu {
	display:none;
}

